<div class="Calendar">
  <ul class="Calendar-times">
    <li class="Calendar-time">9 a.m.</li>
    <li class="Calendar-time">10 a.m.</li>
    <li class="Calendar-time">11 a.m.</li>
    <li class="Calendar-time">12 p.m.</li>
    <li class="Calendar-time">1 p.m.</li>
    <li class="Calendar-time">2 p.m.</li>
    <li class="Calendar-time">3 p.m.</li>
    <li class="Calendar-time">4 p.m.</li>
    <li class="Calendar-time">5 p.m.</li>
  </ul>

  <div class="Calendar-day">
    <header class="Calendar-dayHeader">
      <div class="Calendar-date">
        <div class="Calendar-dateMo">5</div>
        <div class="Calendar-dateWk">Mon</div>
      </div>
    </header>

    <ul class="Calendar-entries">
      <li class="Calendar-entry" style="
        --Calender-entryTime: 9;
        --Calender-entryDur: 2;
        ">
        <div class="Calendar-entryTime">9 &ndash; 11 a.m.</div>
        <div class="Calendar-entryDesc">Planning</div>
      </li>

      <li class="Calendar-entry" style="
        --Calender-entryTime: 12;
        --Calender-entryDur: 2;
        ">
        <div class="Calendar-entryTime">12 &ndash; 2 p.m.</div>
        <div class="Calendar-entryDesc">Team lunch</div>
      </li>
    </ul>
  </div>

  <div class="Calendar-day">
    <header class="Calendar-dayHeader">
      <div class="Calendar-date">
        <div class="Calendar-dateMo">6</div>
        <div class="Calendar-dateWk">Tue</div>
      </div>
    </header>

    <ul class="Calendar-entries">
      <li class="Calendar-entry" style="
        --Calender-entryTime: 12;
        --Calender-entryDur: 1;
        ">
        <div class="Calendar-entryTime">12 &ndash; 1 p.m.</div>
        <div class="Calendar-entryDesc">Work out</div>
      </li>
      <li class="Calendar-entry" style="
        --Calender-entryTime: 14;
        --Calender-entryDur: 1;
        ">
        <div class="Calendar-entryTime">2 &ndash; 3 p.m.</div>
        <div class="Calendar-entryDesc">Doctor</div>
      </li>
      <li class="Calendar-entry" style="
        --Calender-entryTime: 16;
        --Calender-entryDur: 2;
        ">
        <div class="Calendar-entryTime">4 &ndash; 6 p.m.</div>
        <div class="Calendar-entryDesc">Soccer</div>
      </li>
    </ul>
  </div>

  <div class="Calendar-day">
    <header class="Calendar-dayHeader">
      <div class="Calendar-date">
        <div class="Calendar-dateMo">7</div>
        <div class="Calendar-dateWk">Wed</div>
      </div>
    </header>

    <ul class="Calendar-entries">
      <li class="Calendar-entry" style="
        --Calender-entryTime: 9;
        --Calender-entryDur: 2;
        ">
        <div class="Calendar-entryTime">9 &ndash; 11 p.m.</div>
        <div class="Calendar-entryDesc">Customer call</div>
      </li>
      <li class="Calendar-entry" style="
        --Calender-entryTime: 14;
        --Calender-entryDur: 4;
        ">
        <div class="Calendar-entryTime">2 &ndash; 6 p.m.</div>
        <div class="Calendar-entryDesc">Team event</div>
      </li>
    </ul>
  </div>

  <div class="Calendar-day">
    <header class="Calendar-dayHeader">
      <div class="Calendar-date">
        <div class="Calendar-dateMo">8</div>
        <div class="Calendar-dateWk">Thu</div>
      </div>
    </header>

    <ul class="Calendar-entries">
      <li class="Calendar-entry" style="
        --Calender-entryTime: 12;
        --Calender-entryDur: 1;
        ">
        <div class="Calendar-entryTime">12 &ndash; 1 p.m.</div>
        <div class="Calendar-entryDesc">Work out</div>
      </li>
    </ul>
  </div>

  <div class="Calendar-day">
    <header class="Calendar-dayHeader">
      <div class="Calendar-date">
        <div class="Calendar-dateMo">9</div>
        <div class="Calendar-dateWk">Fri</div>
      </div>
    </header>

    <ul class="Calendar-entries">
      <li class="Calendar-entry" style="
        --Calender-entryTime: 9;
        --Calender-entryDur: 9;
        ">
        <div class="Calendar-entryTime">9 &ndash; 6 p.m.</div>
        <div class="Calendar-entryDesc">No meetings</div>
      </li>
    </ul>
  </div>
</div>