<div class="Card">
  <div class="Card-figure">
    <figure class="Image"></figure>
  </div>
  <div class="Card-body">
    <h3 class="Card-title">Card title</h3>
    <p>A basic card component with an image, title, description, and call to action. By default, the image is on top and full-width, but inside larger containers the image is positioned on the left with the rest of the content beside it.</p>
    <div class="IconActions">
      <svg class="Icon Icon--inline">
        <use xlink:href="#thumb_up"></use>
      </svg>
      <svg class="Icon Icon--inline">
        <use xlink:href="#insert_emoticon"></use>
      </svg>
      <svg class="Icon Icon--inline">
        <use xlink:href="#favorite"></use>
      </svg>
      <svg class="Icon Icon--inline">
        <use xlink:href="#insert_comment"></use>
      </svg>
      <svg class="Icon Icon--inline">
        <use xlink:href="#insert_link"></use>
      </svg>
      <svg class="Icon Icon--inline">
        <use xlink:href="#share"></use>
      </svg>
    </div>
  </div>
</div>
