<form class="Form" onsubmit="return false">
  <div class="Form-field">
    <label class="Form-fieldLabel">Username</label>
    <div class="Form-fieldInput">
      <input class="Input" placeholder="Username">
    </div>
  </div>

  <div class="Form-field">
    <label class="Form-fieldLabel">Password</label>
    <div class="Form-fieldInput">
      <input class="Input" placeholder="Password" type="password">
    </div>
    <span class="Form-fieldSubText">Must be at least 8 characters</span>
  </div>

  <div class="Form-field">
    <div class="Form-fieldInput">
      <label>
        <input type="checkbox" />
        I don't read terms
      </label>
    </div>
  </div>

  <div class="Form-field">
    <div class="Form-fieldInput">
      <button class="Button">Submit</button>
    </div>
  </div>
</form>
