<div class="MultiColBox">
  <h3 class="MultiColBox-title">Multi-column layout</h3>
  <div class="MultiColBox-content">
    <p>Most of the demos on this site use the same, global set of breakpoints, but in some cases a component needs to define its own breakpoints due to its particular design needs.</p>

    <p>For example, <strong>this component</strong> defines custom breakpoints so it can know when to switch from a 1-column layout to a 2-column layout (and from 2 to 3). The default breakpoints don't quite work here, so custom breakpoints are needed.</p>

    <p>The custom breakpoints are defined on this specific component by setting JSON in the <code>data-breakpoints</code> attribute of the container element. Check out the source links below for more details.</p>

    <aside>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor posuere sem sed ultricies. Integer eget imperdiet ipsum, sit amet aliquet urna. Etiam ultricies scelerisque molestie. Nunc efficitur leo id nisl efficitur blandit. Proin condimentum lorem ac leo rutrum pulvinar. Sed ligula nisi, scelerisque a libero eget, sagittis tempor eros. Ut quis finibus neque. Cras molestie diam mi, eget consequat lorem gravida sit amet. Donec quis tortor dictum ligula vulputate interdum nec quis tortor. Nullam vitae consequat est, in maximus neque. Quisque dignissim, augue ac suscipit ullamcorper, elit nisl posuere purus, sed pretium ex mauris porttitor massa. Nunc et neque egestas lorem hendrerit tempus ac eu est. Proin sit amet nunc nisi.</p>

      <p>Donec pretium, sapien at sagittis pulvinar, nisi metus finibus neque, nec facilisis libero ex interdum diam. Ut non turpis pulvinar, vulputate est consectetur, ornare nulla. Praesent eu sagittis nunc, ac dignissim urna. Sed at turpis vel massa laoreet vestibulum eu quis justo. Nam non elementum est, dignissim rutrum dui. Maecenas at lorem nibh. In a elit quis eros fermentum egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

      <p>Donec eu faucibus purus, at maximus erat. Cras velit felis, cursus nec massa in, blandit consectetur mauris. Duis eget magna tellus. Proin urna libero, sollicitudin vel dictum non, lobortis ac turpis. Pellentesque vitae elit porttitor, cursus libero a, ultricies leo. Sed iaculis bibendum lacus. Nam molestie mattis nunc vitae posuere. Donec in eros sagittis eros malesuada facilisis. Suspendisse eu dictum orci. Proin dapibus eget augue nec laoreet.</p>
    </aside>
  </div>
</div>
