<ul class="Gallery" data-component-root>
  <li data-observe-resizes>
    {% include 'components/card.html' %}
  </li>
  <li data-observe-resizes>
    {% include 'components/card.html' %}
  </li>
  <li data-observe-resizes>
    {% include 'components/card.html' %}
  </li>
  <li data-observe-resizes>
    {% include 'components/card.html' %}
  </li>
  <li data-observe-resizes>
    {% include 'components/card.html' %}
  </li>
  <li data-observe-resizes>
    {% include 'components/card.html' %}
  </li>
</ul>
