{
  "plugins": [
    "html",
  ],
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "browser": false
  },
  "extends": [
    "eslint:recommended", "google"
  ],
  "rules": {
    "eqeqeq": 2,
    "require-jsdoc": 0
  },
  "overrides": [{
    "files": ["app/**/*.js"],
    "env": {
      "browser": true,
      "es6": true
    },
    "parser": "babel-eslint",
  }, {
    "files": ["tasks/**/*.js"],
    "parser": "babel-eslint",
    "env": {
      "es6": true,
      "node": true
    },
    "rules": {
      "no-console": 0
    }
  }, {
    "files": ["app/templates/**/*.html"],
    "env": {
      "browser": true
    },
    "rules": {
      "no-var": 0
    }
  }]
}
