/**
 * Ensures anchor links are fixed to the top of the page when JS is enabled,
 * so new page loads referencing an anchor always display the header.
 * (this is unset in a <noscript> tag)
 */
[data-section-anchor] {
  position: fixed;
  top: 0;
}

[data-demo-root] {
  margin-bottom: 1.5em;
}

[data-observe-resizes],
responsive-container {
  contain: content;
  overflow: hidden;
  position: relative;
}

[data-observe-resizes]::before,
responsive-container::before {
  background-color: #ccc;
  color: hsla(0, 100%, 100%, 0);
  content: "\00a0";
  font-size: 0.8em;
  -webkit-font-smoothing: initial;
  font-weight: 700;
  letter-spacing: .1em;
  position: absolute;
  right: -3.1em;
  text-align: center;
  top: -1.2em;
  transform: rotate(45deg);
  transform-origin: 0 0;
  width: 6em;
  z-index: 10;
}

[data-observe-resizes][data-observing="true"]::before,
responsive-container[observing]::before {
  transition: background-color 0.2s var(--material-easing) 0.05s,
    color 0.2s var(--material-easing) 0.05s;
}

[data-observe-resizes] [data-observe-resizes]::before,
responsive-container responsive-container::before {
  left: -1.2em;
  right: auto;
  top: 3.1em;
  transform: rotate(-45deg);
}

.SM[data-observe-resizes]::before,
responsive-container.SM::before {
  background-color: #40bf80;
  color: hsla(0, 100%, 100%, 100);
  content: "SM";
}

.MD[data-observe-resizes]::before,
responsive-container.MD::before {
  background-color: #33b2cc;
  content: "MD";
}

.LG[data-observe-resizes]::before,
responsive-container.LG::before {
  background-color: #bc79ec;
  content: "LG";
}

.XL[data-observe-resizes]::before,
responsive-container.XL::before {
  background-color: #f0427c;
  content: "XL";
}

/* Custom breakpoints */

.C2[data-observe-resizes]::before,
responsive-container.C2::before {
  background-color: #40bf80;
  color: hsla(0, 100%, 100%, 100);
  content: "C2";
}

.C3[data-observe-resizes]::before,
responsive-container.C3::before {
  background-color: #33b2cc;
  content: "C3";
}

.C4[data-observe-resizes]::before,
responsive-container.C4::before {
  background-color: #bc79ec;
  content: "C4";
}
