/**
 * .App
 * ------------------------------------------------------------------------ \\
 */
.App {
  position: relative;
  min-height: 100vh;
}
@media (min-width: 48em) {
  .App {
    display: flex;
    position: static;
  }
}

/**
 * .App-content
 * ------------------------------------------------------------------------ \\
 */
.App-content {
  contain: content;
  padding: var(--gutter);
}
@media (min-width: 48em) {
  .App-content {
    flex: 1 1 0%;
    min-width: 16em;
  }
}

/**
 * .App-footer
 * ------------------------------------------------------------------------ \\
 */
.App-footer {
  contain: content;
}

/**
 * .App-main
 * ------------------------------------------------------------------------ \\
 */
.App-main {
  contain: content;
  background: hsl(0, 0%, 96%);
}
@media (min-width: 48em) {
  .App-main {
    display: flex;
    flex: 1 1 0%;
    flex-flow: column;
    min-width: 0;
  }
}

/**
 * .App-mainContent
 * ------------------------------------------------------------------------ \\
 */
@media (min-width: 48em) {
  .App-mainContent {
    contain: content;
    display: flex;
    flex: 1 0 auto;
  }
}

/**
 * .App-mainHeader
 * ------------------------------------------------------------------------ \\
 */
.App-mainHeader {
  align-items: center;
  background: hsl(0, 0%, 100%);
  border-top: 1px solid var(--accentColor);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.075);
  contain: strict;
  display: flex;
  height: 5em;
  padding: 0 var(--gutter);
}
@media (min-width: 48em) {
  .App-mainHeader {
    position: relative;
  }
}

/**
 * .App-mainHeaderLink
 * --------------------
 */
.App-mainHeaderLink {
  color: inherit;
  margin-left: 1.25em;
}
@media (min-width: 72em) {
  .App-mainHeaderLink {
    font-size: 0.8em;
    margin-left: 0.75em;
  }
}
.App-mainHeaderLink:first-child {
  margin-left: 0;
}


/**
 * .App-mainHeaderLinks
 * --------------------
 */
.App-mainHeaderLinks {
  display: none;
}
@media (min-width: 28em) {
  .App-mainHeaderLinks {
    align-items: center;
    display: flex;
  }
}
@media (min-width: 48em) {
  .App-mainHeaderLinks {
    transform: translate3d(0em, 0, 0);
  }
  .App--isSidebarTransitioning .App-mainHeaderLinks {
    transition: transform 0.3s var(--material-easing);
  }
  .App--isSidebarHidden .App-mainHeaderLinks {
    transform: translate3d(-3em, 0, 0);
  }
}



/**
 * .App-mainHeaderTitle
 * ------------------------------------------------------------------------ \\
 */
.App-mainHeaderTitle {
  color: #666;
  flex: 1;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: 0.2em;
}
@media (min-width: 48em) {
  .App-mainHeaderTitle {
    word-spacing: 0.2em;
    transform: translate3d(0, 0, 0);
  }
  .App--isNavTransitioning .App-mainHeaderTitle {
    transition: transform 0.3s var(--material-easing);
  }
  .App--isNavSidebarCollapsed .App-mainHeaderTitle {
    transform: translate3d(3em, 0, 0);
  }
}

/**
 * .App-mainHeaderTitleEmphasis
 * ------------------------------------------------------------------------ \\
 */
.App-mainHeaderTitleEmphasis {
  color: var(--accentColor);
  font-style: normal;
}

/**
 * .App-modalOverlay
 * ------------------------------------------------------------------------ \\
 */
.App-modalOverlay {
  display: none;
}
.App--isNavTransitioning .App-modalOverlay,
.App--isNavDrawerOpen .App-modalOverlay {
  background: #000;
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}
.App--isNavTransitioning .App-modalOverlay {
  opacity: 0;
  transition: opacity 0.3s var(--material-easing);
}
.App--isNavDrawerOpen .App-modalOverlay {
  opacity: 0.333;
}

/**
 * .App-nav
 * ------------------------------------------------------------------------ \\
 */
.App-nav {
  background: hsl(0, 0%, 23%);
  contain: strict;
  color: hsl(0, 0%, 80%);
  width: 16em;
}
@media (max-width: 47.97em) {
  .App-nav {
    box-shadow: none;
    bottom: 0;
    display: none;
    left: -16em;
    position: absolute;
    top: 0;
    transform: translate3d(0%, 0, 0);
    z-index: 101;
  }
  .App--isNavDrawerOpen .App-nav {
    display: block;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, .5);
    transform: translate3d(100%, 0, 0);
  }
  .App--isNavTransitioning .App-nav {
    display: block;
    transition:
        box-shadow 0.3s var(--material-easing),
        transform 0.3s var(--material-easing);
  }
}
@media (min-width: 48em) {
  .App-nav {
    background: hsl(0, 0%, 23%)
        linear-gradient(to left, hsla(0,0%,0%,.07), transparent 0.5em);
    width: 16em;
    flex: 0 0 auto;
    overflow: hidden;
    position: static;
    will-change: width;
  }
  .App--isNavTransitioning .App-nav {
    transition: width 0.3s var(--material-easing);
  }
  .App--isNavSidebarCollapsed .App-nav {
    flex-shrink: 1;
    width: 0;
  }
  .App--isNavSidebarCollapsed:not(.App--isNavTransitioning) .App-nav {
    display: none;
  }
}

/**
 * .App-navHeader
 * ------------------------------------------------------------------------ \\
 */
.App-navHeader {
  align-self: stretch;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.075);
  color: hsla(0, 0%, 100%, .85);
  contain: strict;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gutter);

  height: 5em;
}

/**
 * .App-navHeaderTitle
 * ------------------------------------------------------------------------ \\
 */
.App-navHeaderTitle {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

/**
 * .App-navShow
 * ------------------------------------------------------------------------ \\
 */
.App-navShow {
  color: hsl(0, 0%, 60%);
  display: flex;
  width: 2.6em;
}
@media (min-width: 48em) {
  .App-navShow {
    align-items: center;
    display: none;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .App--isNavSidebarCollapsed .App-navShow {
    display: flex;
    opacity: 1;
  }
  .App--isNavTransitioning .App-navShow {
    display: flex;
    transition: opacity 0.3s var(--material-easing);
  }
}

/**
 * .App-navHide
 * ------------------------------------------------------------------------ \\
 */
.App-navHide {
  display: flex;
}

/**
 * .App-sidebar
 * ------------------------------------------------------------------------ \\
 */
.App-sidebar {
  display: none;
}
@media (min-width: 48em) {
  .App-sidebar {
    background: hsl(0, 0%, 100%);
    border-left: 1px solid hsla(0, 0%, 0%, 0.075);
    contain: layout style;
    display: block;
    flex: 0 1 auto;
    padding: 0;
    position: relative;
    transform: translate3d(0, 0, 0);
    width: 24em;
    will-change: width;
  }
  .App--isSidebarTransitioning .App-sidebar {
    transition: width 0.3s var(--material-easing);
  }
  .App--isSidebarHidden .App-sidebar {
    width: 0!important;
  }
  .App--isSidebarHidden:not(.App--isSidebarTransitioning) .App-sidebar {
    display: none;
  }
}

/**
 * .App-sidebarGutter
 * ------------------------------------------------------------------------ \\
 */
.App-sidebarGutter {
  contain: strict;
  cursor: ew-resize;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  left: -15px;
  top: 0;
  width: 30px;
}


/**
 * .App-sidebarGutter::before
 * ------------------------------------------------------------------------ \\
 */
.App-sidebarGutter::before {
  display: none;
}
@media(min-width: 48em) {
  .App-sidebarGutter::before {
    background-image: linear-gradient(
        90deg, #888, #888 1px, transparent 2px, transparent 5px);
    background-size: 4px;
    content: '';
    display: block;
    height: 30px;
    margin-left: 10px;
    opacity: 1;
    position: fixed;
    position: sticky; /* Prefer sticky but fall back to fixed */
    pointer-events: none;
    top: 50vh;
    width: 10px;
  }
  .App--isSidebarTransitioning .App-sidebarGutter::before {
    transition: opacity 0.3s var(--material-easing);
  }
  .App--isSidebarHidden .App-sidebarGutter::before {
    opacity: 0;
  }
}

/**
 * .App-sidebarHeader
 * ------------------------------------------------------------------------ \\
 */
.App-sidebarHeader {
  align-items: center;
  display: flex;
  contain: strict;
  height: 6em;
  justify-content: space-between;
  min-width: 16em;
  padding: 0 var(--gutter);
}


/**
 * .App-sidebarHeaderTitle
 * ------------------------------------------------------------------------ \\
 */
.App-sidebarHeaderTitle {
  font-size: 1.333em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**
 * .App-sidebarHide
 * ------------------------------------------------------------------------ \\
 */
.App-sidebarHide {
  color: hsla(0, 0%, 70%);
  display: inline-flex;
}

/**
 * .App-sidebarShow
 * ------------------------------------------------------------------------ \\
 */
.App-sidebarShow {
  display: none;
}
@media (min-width: 48em) {
  .App-sidebarShow {
    align-items: center;
    color: hsl(0, 0%, 60%);
    height: 100%;
    position: absolute;
    right: var(--gutter);
    opacity: 0;
    top: 0;
  }
  .App--isSidebarTransitioning .App-sidebarShow {
    display: flex;
    transition: opacity 0.3s var(--material-easing);
  }
  .App--isSidebarHidden .App-sidebarShow {
    display: flex;
    opacity: 1;
  }
}
