.App {
  position: relative;
  min-height: 100vh;
}

.App-nav {
  background: hsl(0, 0%, 23%);
  color: hsl(0, 0%, 80%);
  width: 16em;
}

.App-navShow {
  display: flex;
  width: 2.6em;
}

.App-navHide {
  display: flex;
}

.App-sidebarShow {
  display: none;
}

.App-navHeader {
  align-self: stretch;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.075);
  color: hsla(0, 0%, 100%, .85);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gutter);

  height: 5em;
}

.App-navHeaderTitle {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.App-main {
  background: hsl(0, 0%, 96%);
}

.App-mainHeader {
  align-items: center;
  background: hsl(0, 0%, 100%);
  border-top: 1px solid var(--accentColor);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.075);
  display: flex;
  height: 5em;
  padding: 0 var(--gutter);
}

.App-mainHeaderTitle {
  color: #666;
  flex: 1;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: 0.2em;
}

.App-mainHeaderTitleEmphasis {
  color: var(--accentColor);
}

.App-content {
  padding: var(--gutter);
}

.App-sidebar {
  display: none;
}

.App-footer {
  border-top: 1px solid hsla(0, 0%, 0%, 0.075);
  font-size: 0.8em;
  padding: 1.5rem 2rem;
}

/* The nav drawer is only enabled at smaller screen sizes */
@media (max-width: 47.98em) {
  .App-nav {
    box-shadow: none;
    bottom: 0;
    left: -16em;
    position: absolute;
    top: 0;
    transform: translate3d(0%, 0, 0);
    transition:
        box-shadow 0.3s var(--material-easing),
        transform 0.3s var(--material-easing);
    z-index: 101;
  }

  .App--isNavDrawerOpen .App-nav {
    box-shadow: 0 0 1em hsla(0, 0%, 0%, .5);
    transform: translate3d(100%, 0, 0);
  }

  .App-modalOverlay {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s var(--material-easing);
    z-index: 100;
    pointer-events: none;
  }
  .App--isNavDrawerOpen .App-modalOverlay {
    opacity: 0.333;
    pointer-events: auto;
  }
}

@media (min-width: 48em) {
  .App {
    display: flex;
    position: static;
  }

  .App-main {
    display: flex;
    flex: 1 1 0%;
    flex-flow: column;
    min-width: 0;
  }

  .App-mainHeader {
    position: relative;
  }

  .App-navShow {
    align-items: center;
    color: hsl(0, 0%, 60%);
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s var(--material-easing);
  }
  .App--isNavCollapsed .App-navShow {
    opacity: 1;
  }

  .App-mainHeaderTitle {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s var(--material-easing);
  }
  .App--isNavCollapsed .App-mainHeaderTitle {
    transform: translate3d(3em, 0, 0);
  }

  .App-mainHeaderLinks {
    align-items: center;
    display: flex;
    transform: translate3d(0em, 0, 0);
    transition: transform 0.2s var(--material-easing);
  }

  .App-mainHeaderLinks > * {
    margin-left: 0.75em;
    font-size: 0.8em;
  }

  .App--isSidebarHidden .App-mainHeaderLinks {
    transform: translate3d(-3em, 0, 0);
  }

  .App-mainContent {
    display: flex;
    flex: 1 0 auto;
  }

  .App-content {
    flex: 1 1 0%;
    min-width: 16em;
  }

  .App-sidebar {
    background: hsl(0, 0%, 100%);
    border-left: 1px solid hsla(0, 0%, 0%, 0.075);
    display: block;
    flex: 0 1 auto;
    padding: 0;
    position: relative;
    width: 24em;
  }

  .App--isSidebarTransitioning .App-sidebar {
    transition: width 0.3s var(--material-easing);
  }
  .App--isSidebarHidden .App-sidebar {
    width: 0;
  }

  .App-sidebarHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 16em;
    padding: var(--gutter);
  }

  .App-sidebarHeaderTitle {
    font-size: 1.333em;
  }

  .App-sidebarShow {
    align-items: center;
    color: hsl(0, 0%, 60%);
    display: flex;
    height: 100%;
    position: absolute;
    right: var(--gutter);
    opacity: 0;
    top: 0;
    transition: opacity 0.3s var(--material-easing);
  }
  .App--isSidebarHidden .App-sidebarShow {
    opacity: 1;
  }

  .App-sidebarHide {
    color: hsla(0, 0%, 70%);
    display: inline-flex;
  }

  .App-sidebarGutter {
    cursor: ew-resize;
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    width: 15px;
    height: 100%;
  }

  .App-sidebarGutter::before {
    background-image: linear-gradient(90deg,#888,#888 1px,transparent 2px,transparent 5px);
    background-size: 4px;
    content: "";
    height: 30px;
    position: fixed;
    top: 50vh;
    width: 10px;
    margin-left: 10px;
  }

  .App-nav {
    background: hsl(0, 0%, 23%)
        linear-gradient(to left, hsla(0,0%,0%,.07), transparent 0.5em);
    width: 16em;
    flex: 0 0 auto;
    overflow: hidden;
    position: static;
    transition: width 0.3s var(--material-easing);
  }

  .App--isNavCollapsed .App-nav {
    flex-shrink: 1;
    width: 0;
  }
}
