.IconButton {
  --IconButton-overlayColor: hsla(0, 0%, 0%, 0.1);

  background-color: hsla(0, 0%, 0%, 0);
  border: 0;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  margin: -0.5em;
  padding: 0.5em;
  transition: background-color 0.3s var(--material-easing);
}

.IconButton--dark {
  --IconButton-overlayColor: hsla(0, 0%, 0%, 0.25);
}

.IconButton:hover,
.IconButton:focus {
  background-color: var(--IconButton-overlayColor);
  outline: 0;
}
