<section class="Section" data-section="calendar">
  <h2 class="Heading">
    <span id="calendar" data-section-anchor></span>
    Calendar
  </h2>

  <responsive-container>
    <div class="DemoWrapper">
      {% include 'components/Calendar.html' %}
    </div>
  </responsive-container>

  {% include '_pin-action.html' %}

  <h3>The code</h3>

  {% highlight 'html' %}
  <!-- Container element -->
  <responsive-container>
    <!-- Component element -->
    <div class="Calendar">...</div>
  </responsive-container>
  {% endhighlight %}

  <ul>
    <li><a href="{{ repoUrl }}/blob/master/app/styles/demos/Calendar.css">
    Full calendar CSS source</a></li>
    <li><a href="{{ repoUrl }}/blob/master/app/templates/components/calendar.html">
    Full calendar HTML source</a></li>
  </ul>
</section>