<section id="calendar">
  <h2 class="Heading">Calendar</h2>
  <div data-demo-root data-observe-resizes>
    {% include 'components/Calendar.html' %}
  </div>
  {% include '_pin-action.html' %}

  <h2>Go deeper</h2>
  <ul>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/components/Calendar.css">
    Calendar CSS source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/templates/components/calendar.html">
    Calendar HTML source</a></li>
  </ul>
</section>