<section class="Section" data-section="custom-breakpoints">
  <h2 class="Heading">
    <span id="custom-breakpoints" data-section-anchor></span>
    Custom breakpoints
  </h2>
  <div id="custom" data-demo-root data-observe-resizes
       data-breakpoints='{"C2":400,"C3":800,"C4":1200}'>
    {% include 'components/MultiColBox.html' %}
  </div>
  {% include '_pin-action.html' %}

  <h3>The code</h3>

  {% highlight 'html' %}
  <!-- Container element -->
  <div **data-breakpoints='{"C2":400,"C3":800,"C4":1200}'** data-observe-resizes>
    <!-- Component element -->
    <div class="MultiColBox">...</div>
  </div>
  {% endhighlight %}

  <ul>
    <li><a href="{{ repoUrl }}/blob/master/app/styles/demos/MultiColBox.css">
    Full MultiColBox CSS source</a></li>
    <li><a href="{{ repoUrl }}/blob/master/app/templates/demos/custom-breakpoints.html">
    Full MultiColBox HTML source</a></li>
  </ul>
</section>
