<section id="custom-breakpoints">
  <h2 class="Heading">Custom breakpoints</h2>
  <div id="custom" data-demo-root data-observe-resizes
       data-breakpoints='{"C1":0,"C2":400,"C3":800,"C4":1200}'>
    {% include 'components/custom-breakpoints.html' %}
  </div>
  {% include '_pin-action.html' %}

  <h2>Go deeper</h2>
  <ul>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/components/MultiColBox.css">
    MultiColBox CSS source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/templates/components/custom-breakpoints.html">
    MultiColBox HTML source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/templates/demos/custom-breakpoints.html#L3-L4">
    Breakpoint definition source</a></li>
  </ul>
</section>
