<section class="Section" data-section="custom-breakpoints">
  <h2 class="Heading">
    <span id="custom-breakpoints" data-section-anchor></span>
    Custom breakpoints
  </h2>
  <responsive-container name="Custom" breakpoints='{"C2":400,"C3":800,"C4":1200}'>
    <div class="CustomDemoWrapper">
      {% include 'components/MultiColBox.html' %}
    </div>
  </responsive-container>

  {% include '_pin-action.html' %}

  <h3>The code</h3>

  {% highlight 'html' %}
  <!-- Container element -->
  <responsive-container **breakpoints='{"C2":400,"C3":800,"C4":1200}'**>
    <!-- Component element -->
    <div class="MultiColBox">...</div>
  </responsive-container>
  {% endhighlight %}

  <ul>
    <li><a href="{{ repoUrl }}/blob/master/app/styles/demos/MultiColBox.css">
    Full MultiColBox CSS source</a></li>
    <li><a href="{{ repoUrl }}/blob/master/app/templates/demos/custom-breakpoints.html">
    Full MultiColBox HTML source</a></li>
  </ul>
</section>
