<section id="form">
  <h2 class="Heading">Form</h2>
  <div data-demo-root data-observe-resizes>
    {% include 'components/Form.html' %}
  </div>
  {% set component = 'Form' %}
  {% include '_pin-action.html' %}

  <h2>Go deeper</h2>
  <ul>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/components/Form.css">
    Form CSS source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/templates/components/form.html">
    Form HTML source</a></li>
  </ul>
</section>
