<section id="gallery">
  <h2 class="Heading">Gallery</h2>
  <div data-demo-root data-observe-resizes>
    {% include 'components/Gallery.html' %}
  </div>
  {% set component = 'Gallery' %}
  {% include '_pin-action.html' %}

  <h2>Go deeper</h2>
  <ul>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/components/Gallery.css">
    Gallery CSS source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/templates/components/gallery.html">
    Gallery HTML source</a></li>
  </ul>
</section>