<section id="nested-components">
  <h2 class="Heading">Nested components</h2>
  <div data-demo-root data-observe-resizes>
    <ul class="Gallery">
      <li data-observe-resizes>
        {% include 'components/card.html' %}
      </li>
      <li data-observe-resizes>
        {% include 'components/card.html' %}
      </li>
      <li data-observe-resizes>
        {% include 'components/card.html' %}
      </li>
      <li data-observe-resizes>
        {% include 'components/card.html' %}
      </li>
      <li data-observe-resizes>
        {% include 'components/card.html' %}
      </li>
      <li data-observe-resizes>
        {% include 'components/card.html' %}
      </li>
    </ul>
  </div>
  {% include '_pin-action.html' %}

  <h2>Go deeper</h2>
  <ul>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/components/Card.css">
    Card CSS source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/components/Gallery.css">
    Gallery CSS source</a></li>
    <li><a href="https://github.com/philipwalton/responsive-components/blob/master/app/templates/components/custom-breakpoints.html">
    Full demo HTML source</a></li>
  </ul>
</section>
