[data-observe-resizes] {
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: opacity .2s var(--material-easing);
}

[data-observe-resizes][data-observing] {
  opacity: 1;
}

[data-observe-resizes]::before {
  background: transparent;
  box-shadow: 0 0 0.3em hsla(0, 0%, 0%, .3);
  content: "";
  color: hsl(0, 0%, 100%);
  font-size: 0.8em;
  -webkit-font-smoothing: initial;
  font-weight: 700;
  letter-spacing: .1em;
  opacity: 0;
  position: absolute;
  right: -3.1em;
  text-align: center;
  top: -1.2em;
  transform: rotate(45deg);
  transform-origin: 0 0;
  width: 6em;
  z-index: 10;
}

[data-observe-resizes][data-observing]::before {
  transition: background .5s var(--material-easing);
}

[data-observe-resizes] [data-observe-resizes]::before {
  left: -1.2em;
  right: auto;
  top: 3.1em;
  transform: rotate(-45deg);
}

.XS[data-observe-resizes]::before {
  background: #a3ad85;
  content: "XS";
  opacity: 1;
}

.SM[data-observe-resizes]::before {
  background: #40bf80;
  content: "SM";
}

.MD[data-observe-resizes]::before {
  background: #33b2cc;
  content: "MD";
}

.LG[data-observe-resizes]::before {
  background: #bc79ec;
  content: "LG";
}

.XL[data-observe-resizes]::before {
  background: #f0427c;
  content: "XL";
}

/* Custom breakpoints */

.C1[data-observe-resizes]::before {
  background: #a3ad85;
  content: "C1";
  opacity: 1;
}

.C2[data-observe-resizes]::before {
  background: #40bf80;
  content: "C2";
}

.C3[data-observe-resizes]::before {
  background: #33b2cc;
  content: "C3";
}

.C4[data-observe-resizes]::before {
  background: #bc79ec;
  content: "C4";
}

.C5[data-observe-resizes]::before {
  background: #f0427c;
  content: "C5";
}