.Calendar {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 93%);
  padding: 0.2em 1em;
}

.Calendar-times {
  display: none;
}

.Calendar-day {
  border-top: 1px solid hsl(0, 0%, 92.5%);
}

.Calendar-day:first-of-type {
  border: 0;
}

.Calendar-dayHeader {
  position: relative;
  flex: 0 0 4em;
  margin-right: 1em;
}

.Calendar-date {
  display: flex;
  align-items: baseline;
  padding: 0.75em 0;
}

.Calendar-dateMo {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
  margin-right: 0.2em;
}

.Calendar-dateWk {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
}

.Calendar-entries {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.Calendar-entry {
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 0.2em;
  cursor: pointer;
  line-height: 1.2;
  list-style: none;
  margin: 0 0 1em;
  padding: 0.5em;
}

.Calendar-entryTime {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.1em;
}

.Calendar-entryDesc {
  font-size: 0.9em;
}


/* -------------- */
/* Breakpoint: SM */
/* -------------- */

.SM > .Calendar .Calendar-day {
  display: flex;
}

.SM > .Calendar .Calendar-dateMo {
  margin: 0;
}

.SM > .Calendar .Calendar-entries {
  flex: 1 0 0%;
}

.SM > .Calendar .Calendar-entry {
  margin: 1em 0;
}

.SM > .Calendar .Calendar-date {
  align-items: stretch;
  position: sticky;
  top: 0em;
  left: 0;

  flex-flow: column;
  padding: 0.75em 0;
  text-align: center;
}

.SM > .Calendar .Calendar-dateWk {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
}

.SM > .Calendar .Calendar-dateMo {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1;
}

/* -------------- */
/* Breakpoint: LG  */
/* -------------- */

/* The LG breakpoint requires custom properties, so feature detect first */
@supports (color: var(--custom)) {
  .LG > .Calendar {
    --Calendar-dateHeight: 4.5em;
    --Calendar-entryHeight: 3.333em;

    display: flex;
    padding: 1.5em;
  }

  .LG > .Calendar .Calendar-times {
    display: block;
    margin-top: var(--Calendar-dateHeight);
    min-width: 4em;
  }

  .LG > .Calendar .Calendar-time {
    --Calendar-timeSize: 0.8;

    border-top: 1px solid #eee;
    font-size: calc(1em * var(--Calendar-timeSize));
    height: calc(var(--Calendar-entryHeight) / var(--Calendar-timeSize));
    list-style: none;
    padding-top: 0.25em;
  }

  .LG > .Calendar .Calendar-day {
    flex: 1 0 0%;
    min-width: 0;

    border: 0;
    border-left: 1px solid #eee;
    flex-flow: column;
    padding: 0 1em;
  }

  .LG > .Calendar .Calendar-day:last-child {
    padding-right: 0;
  }

  .LG > .Calendar .Calendar-dayHeader {
    position: static;
  }

  .LG > .Calendar .Calendar-date {
    padding: 0;
    position: static;
    text-align: left;
    height: var(--Calendar-dateHeight);
    overflow: hidden;
  }

  .LG > .Calendar .Calendar-entries {
    position: relative;
  }

  .LG > .Calendar .Calendar-entry {
    --Calendar-entryOffset: calc(9 * var(--Calendar-entryHeight));

    height: calc(var(--Calender-entryDur) * var(--Calendar-entryHeight));
    margin: 0;
    position: absolute;
    top: calc(var(--Calender-entryTime) * var(--Calendar-entryHeight) -
      var(--Calendar-entryOffset));
    width: 100%;
  }

  .LG > .Calendar .Calendar-entryDesc {
    font-size: 0.8em;
  }
}
