@use '../base/breakpoint.scss' as *;

.MultiColBox {
  background: #fff;
  border: 1px solid hsla(0, 0%, 0%, 0.075);
  padding: 1.5em;
}

.MultiColBox-title {
  border-bottom: 1px solid hsla(0, 0%, 0%, .1);
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
  padding-bottom: .5em;
  text-transform: uppercase;
}

.MultiColBox-content {
  column-count: 1;
}

.MultiColBox-content > aside {
  color: #aaa;
}

/* -------------- */
/* Breakpoint: C2 */
/* -------------- */

@include breakpoint('C2', 'custom') {
  .MultiColBox .MultiColBox-content {
    column-count: 2;
  }
}

/* -------------- */
/* Breakpoint: C3 */
/* -------------- */

@include breakpoint('C3', 'custom') {
  .MultiColBox .MultiColBox-content {
    column-count: 3;
  }
}

/* -------------- */
/* Breakpoint: C4 */
/* -------------- */

@include breakpoint('C4', 'custom') {
  .MultiColBox .MultiColBox-content {
    column-count: 4;
  }
}