<style>
[data-observe-resizes],
responsive-container {
  display: block;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  animation: .5s ease-in-out 2s 1 forwards responsive-container-nojs
}
@keyframes responsive-container-nojs {
  from {opacity: 0} to {opacity: 1}
}
[data-observe-resizes][data-observing],
responsive-container[observing] {
  opacity: 1;
  animation: none
}
</style>
<noscript>
  <style>
  [data-observe-resizes]
  responsive-container {
    opacity: 1;
    animation: none;
  }
  </style>
</noscript>

<script>
(function() {
  // Default breakpoints that should apply to all observed
  // elements that don't define their own custom breakpoints.
  var defaultBreakpoints = {SM: 384, MD: 576, LG: 768, XL: 960};

  // A technique for loading polyfills only when needed. Details here:
  // https://philipwalton.com/articles/loading-polyfills-only-when-needed/
  if ((typeof ResizeObserver === 'undefined' ||
      typeof customElements === 'undefined') &&
      matchMedia('(min-width: ' + defaultBreakpoints.MD + 'px)').matches) {
    // Browsers at larger breakpoints that don't support all
    // required features must load the polyfills first.
    loadScript('{{ "polyfills.js" | revision }}', main);
  } else {
    // Browsers that don't need polyfills run `main()` immediately.
    main();
  }

  function main() {
    // Create a single ResizeObserver instance to handle all
    // container elements. The instance is created with a callback,
    // which is invoked as soon as an element is observed as well
    // as any time that element's size changes.
    var ro = new ResizeObserver(function(entries) {
      entries.forEach(function(entry) {
        // If the target has an `updateBreakpoints` property then it's
        // a <responsive-container> element.
        if (entry.target.updateBreakpoints) {
          entry.target.updateBreakpoints(entry.contentRect.width);
        } else {
          var breakpoints = entry.target.dataset.breakpoints ?
              JSON.parse(entry.target.dataset.breakpoints) :
              defaultBreakpoints;

          // For non-custom-elements, use the data-obsevering attribute
          // to target observed elements in CSS.
          if (entry.width === 0) {
            entry.target.dataset.observing = false;
          } else {
            entry.target.dataset.observing = true;
          }

          // Update the matching breakpoints on the target element.
          Object.keys(breakpoints).forEach(function(breakpoint) {
            var minWidth = breakpoints[breakpoint];
            if (entry.contentRect.width >= minWidth) {
              entry.target.classList.add(breakpoint);
            } else {
              entry.target.classList.remove(breakpoint);
            }
          });
        }
      });
    });

    // Observe all non-custom element containers, i.e. all elements with the
    // `data-observe-resizes` attribute. Note: custom element containers
    // are observed via the connectedCallback() lifecycle method.
    var elements = document.querySelectorAll('[data-observe-resizes]');
    for (var element, i = 0; element = elements[i]; i++) {
      ro.observe(element);
    }

    // Monitor the DOM for changes for non-custom-element containers.
    var mo = new MutationObserver(function(entries) {
      entries.forEach(function(entry) {
        eachObserveableElement(entry.addedNodes, ro.observe.bind(ro));
      });
    });
    mo.observe(document.body, {childList: true, subtree: true});

    // Initialize the <responsive-container> custom elements.
    // Note this uses ES5 syntax so it works on IE11 with the polyfills.
    function ResponsiveContainer() {
      return typeof Reflect === 'object' ?
          Reflect.construct(HTMLElement, [], ResponsiveContainer) :
              HTMLElement.call(this) || this;
    }
    ResponsiveContainer.prototype = Object.create(HTMLElement.prototype, {
      constructor: {
        value: ResponsiveContainer,
      },
      connectedCallback: {
        value: function() {
          var breakpointsAttr = this.getAttribute('breakpoints');
          this.breakpoints = breakpointsAttr ?
              JSON.parse(breakpointsAttr) : defaultBreakpoints;

          ro.observe(this);
          this.setAttribute('observing', '');
        },
      },
      updateBreakpoints: {
        value: function(width) {
          if (width > 0) {
            this.setAttribute('observing', '');
          } else {
            this.removeAttribute('observing');
          }

          for (var breakpoint in this.breakpoints) {
            var minWidth = this.breakpoints[breakpoint];
            if (width >= minWidth) {
              this.classList.add(breakpoint);
            } else {
              this.classList.remove(breakpoint);
            }
          }
        },
      },
    });

    self.customElements.define('responsive-container', ResponsiveContainer);
  }

  // Iterates through a subtree
  function eachObserveableElement(nodes, fn) {
    if (nodes) {
      [].slice.call(nodes).forEach(function(node) {
        if (node.nodeType === 1) {
          var containers = [].slice.call(
              node.querySelectorAll('[data-observe-resizes]'));
          if (node.hasAttribute('data-observe-resizes')) {
            containers.push(node);
          }
          for (var container, i = 0; container = containers[i]; i++) {
            fn(container);
          }
        }
      });
    }
  }

  function loadScript(src, done) {
    var js = document.createElement('script');
    js.src = src;
    js.onload = done;
    document.head.appendChild(js);
  }
})();
</script>
