<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ 'main.css' | revision }}">

  <!-- Adds an event listener to capture uncaught errors. -->
  <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>

  <script defer type="module" src="{{ 'runtime.js' | revision }}"></script>
  <script defer type="module" src="{{ 'main.js' | revision }}"></script>

  <link rel="canonical" href="{{ url }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ shareInfo.via }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:image" content="{{ url }}responsive-components-demo.png">

  <meta name="google-site-verification" content="q5KncOje-dNdD5uxqSOG1znSAo5Wsz5MlBcAmteQAJA">
</head>
<body>
  <div class="App">
    <div class="App-nav" tabindex="-1">
      <header class="App-navHeader">
        <span class="App-navHeaderTitle">Demos</span>
        <span class="App-navHide" data-requires-js>
          <button class="IconButton IconButton--dark">
            <svg class="Icon">
              <use xlink:href="#arrow_back"></use>
            </svg>
          </button>
        </span>
      </header>
      {% include 'nav.html' %}
    </div>

    <div class="App-main">
      <div class="App-mainHeader" tabindex="-1">
        <span class="App-navShow" data-requires-js tabindex="-1">
          <button class="IconButton">
            <svg class="Icon">
              <use xlink:href="#menu"></use>
            </svg>
          </button>
        </span>
        {% include 'header.html' %}
        <span class="App-sidebarShow" data-requires-js tabindex="-1">
          <button class="IconButton">
            <svg class="Icon">
              <use xlink:href="#chrome_reader_mode"></use>
            </svg>
          </button>
        </span>
      </div>

      <div class="App-mainContent">
        <div class="App-content">
          <main class="Content">
            {% include 'overview.html' %}
            {% include 'demos/calendar.html' %}
            {% include 'demos/card.html' %}
            {% include 'demos/form.html' %}
            {% include 'demos/gallery.html' %}
            {% include 'demos/nested-components.html' %}
            {% include 'demos/custom-breakpoints.html' %}
            {% include 'demos/custom-elements.html' %}
            <script>
              (function() {
                // Show the chosen selection or the first one.
                var $section = document.querySelector(
                    '[data-section="' + location.hash.slice(1) + '"]') ||
                        document.querySelector('.Section');

                if ($section) {
                  $section.classList.add('Section--isSelected');
                } else {
                  throw new Error('No section to display');
                }
              }());
            </script>
          </main>
        </div>
        <div class="App-sidebar" tabindex="-1">
          <div class="App-sidebarGutter" data-requires-js></div>
          <header class="App-sidebarHeader">
            <span class="App-sidebarHeaderTitle">Pinned demo</span>
            <span class="App-sidebarHide" data-requires-js>
              <button class="IconButton">
                <svg class="Icon">
                  <use xlink:href="#close"></use>
                </svg>
              </button>
            </span>
          </header>
          <aside class="Sidebar">
            <div data-demo-root data-observe-resizes>
              {% include 'components/card.html' %}
            </div>
          </aside>
        </div>
      </div>
      <div class="App-footer">
        {% include 'footer.html' %}
      </div>
    </div>
    <div class="App-modalOverlay" data-requires-js></div>
  </div>
  {% include 'icons.svg' %}

  {% if ENV === 'production' or ENV === 'debug' %}
    {% include '_nomodule-shim.html' %}
    <script defer nomodule src="{{ 'runtime-legacy.js' | revision }}"></script>
    <script defer nomodule src="{{ 'main-legacy.js' | revision }}"></script>
  {% endif %}
  {% include '_resize-observer.html' %}
  <noscript>
    <style>
      .Section {
        display: block!important;
      }
      [data-requires-js] {
        display: none;
      }
      [data-section-anchor] {
        position: static!important;
        display: inline!important;
      }
      @media (max-width: 48em) {
        .App-nav {
          contain: content;
          display: block;
          overflow: hidden;
          position: static!important;
          width: 100%;
        }
      }
    </style>
  </noscript>
</body>
</html>
