<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ 'main.css' | revision }}">
  </noscript>
  <!-- Adds an event listener to capture uncaught errors. -->
  <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>

  <script defer type="module" src="{{ 'runtime.js' | revision }}"></script>
  <script defer type="module" src="{{ 'main.js' | revision }}"></script>
</head>
<body>
  <div class="App">
    <div class="App-nav" tabindex="-1">
      <header class="App-navHeader">
        <span class="App-navHeaderTitle">Demos</span>
        <span class="App-navHide" data-requires-js>
          <button class="IconButton IconButton--dark">
            <svg class="Icon">
              <use xlink:href="#arrow_back"></use>
            </svg>
          </button>
        </span>
      </header>
      {% include 'nav.html' %}
    </div>

    <div class="App-main">
      <div class="App-mainHeader" tabindex="-1">
        <span class="App-navShow" data-requires-js tabindex="-1">
          <button class="IconButton">
            <svg class="Icon">
              <use xlink:href="#menu"></use>
            </svg>
          </button>
        </span>
        <h1 class="App-mainHeaderTitle">
          <em class="App-mainHeaderTitleEmphasis">Responsive</em> Components
        </h1>
        <nav class="App-mainHeaderLinks">
          <span class="App-mainHeaderLink">
            <a href="https://github.com/philipwalton/responsive-components" class="Button">
              <span class="Button-wrapper">
                <svg class="Icon Icon--inline">
                  <use xlink:href="#github"></use>
                </svg>
                <span class="Button-text">
                  View demo source
                </span>
              </span>
            </a>
          </span>
          <span class="App-mainHeaderLink">
            <a href="#" class="Button">
              <span class="Button-wrapper">
                <svg class="Icon Icon--inline">
                  <use xlink:href="#twitter"></use>
                </svg>
                <span class="Button-text">
                  Spread the word
                </span>
              </span>
            </a>
          </span>
        </nav>
        <span class="App-sidebarShow" data-requires-js tabindex="-1">
          <button class="IconButton">
            <svg class="Icon">
              <use xlink:href="#chrome_reader_mode"></use>
            </svg>
          </button>
        </span>
      </div>

      <div class="App-mainContent">
        <div class="App-content">
          <main class="Content">
            {% include 'overview.html' %}
            {% include 'demos/calendar.html' %}
            {% include 'demos/card.html' %}
            {% include 'demos/form.html' %}
            {% include 'demos/gallery.html' %}
            {% include 'demos/nested-components.html' %}
            {% include 'demos/custom-breakpoints.html' %}
            <script>
              (function() {
                // Show the chosen selection or the first one.
                var $section = document.querySelector(
                    '[data-section="' + location.hash.slice(1) + '"]') ||
                        document.querySelector('.Section');

                if ($section) {
                  $section.classList.add('Section--isSelected');
                } else {
                  throw new Error('No section to display');
                }
              }());
            </script>
          </main>
        </div>
        <div class="App-sidebar" tabindex="-1">
          <div class="App-sidebarGutter" data-requires-js></div>
          <header class="App-sidebarHeader">
            <span class="App-sidebarHeaderTitle">Pinned demo</span>
            <span class="App-sidebarHide" data-requires-js>
              <button class="IconButton">
                <svg class="Icon">
                  <use xlink:href="#close"></use>
                </svg>
              </button>
            </span>
          </header>
          <aside class="Sidebar">
            <div data-demo-root data-observe-resizes>
              {% include 'components/card.html' %}
            </div>
          </aside>
        </div>
      </div>
      <div class="App-footer">
        <footer class=Footer>
          <!--
          <span class=Footer-social>
            <iframe class=github-btn src="https://ghbtns.com/github-btn.html?user=philipwalton&repo=solved-by-flexbox&type=watch&count=true" allowtransparency=true frameborder=0 scrolling=0 width=106px height=20px></iframe>

            <a href=https://twitter.com/philwalton class=twitter-follow-button data-show-count=true data-lang=en>@philwalton</a> <a href=https://twitter.com/share class=twitter-share-button data-text="A showcase of traditionally hard CSS problems, easily solved using flexbox." data-url=https://philipwalton.github.io/solved-by-flexbox/ data-count=horizontal data-via=philwalton data-related="philwalton:Creator of Solved by Flexbox">Tweet</a>
          </span>
          -->

          <div class=Footer-credits>
            <span class=Footer-credit>Created and maintained by <a href=https://philipwalton.com>Philip Walton</a>.</span>
            <span class=Footer-credit>Source code and examples released under the <a href=https://github.com/philipwalton/solved-by-flexbox/blob/master/LICENSE>MIT</a> license.</span>
            <span class=Footer-credit>Website and documentation licensed under <a href=https://creativecommons.org/licenses/by/4.0/ >CC BY 4.0</a>.</span>
          </div>
        </footer>
      </div>
    </div>
    <div class="App-modalOverlay" data-requires-js></div>
  </div>
  {% include 'icons.svg' %}

  {% if NODE_ENV === 'production' or NODE_ENV === 'debug' %}
    {% include '_nomodule-shim.html' %}
    <script defer nomodule src="{{ 'runtime-legacy.js' | revision }}"></script>
    <script defer nomodule src="{{ 'main-legacy.js' | revision }}"></script>
  {% endif %}
  {% include '_resize-observer.html' %}
  <noscript>
    <style>
      .Section {
        display: block!important;
      }
      [data-observe-resizes] {
        opacity: 1!important;
        animation: none!important;
      }
      [data-requires-js] {
        display: none;
      }
      [data-section-anchor] {
        position: static!important;
        display: inline!important;
      }
      @media (max-width: 48em) {
        .App-nav {
          position: static!important;
          width: 100%;
          overflow: hidden;
        }
      }
    </style>
  </noscript>
</body>
</html>
