<ul class="Nav">
  <li class="Nav-item">
    <a href="#overview" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#home"></use>
      </svg>
      <span>Overview</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#calendar" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#today"></use>
      </svg>
      <span>Calendar</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#card" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#note"></use>
      </svg>
      <span>Card</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#form" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#assignment"></use>
      </svg>
      <span>Form</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#gallery" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#apps"></use>
      </svg>
      <span>Gallery</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#nested-components" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#picture_in_picture"></use>
      </svg>
      <span>Nested components</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#custom-breakpoints" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#devices_other"></use>
      </svg>
      <span>Custom breakpoints</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#custom-elements" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="#code"></use>
      </svg>
      <span>Custom Elements</span>
    </a>
  </li>
</ul>