<ul class="Nav">
  <li class="Nav-item">
    <a href="#overview" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#home"></use>
      </svg>
      <span>Overview</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#calendar" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#today"></use>
      </svg>
      <span>Calendar</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#card" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#note"></use>
      </svg>
      <span>Card</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#form" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#assignment"></use>
      </svg>
      <span>Form</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#gallery" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#apps"></use>
      </svg>
      <span>Gallery</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#nested-components" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#picture_in_picture"></use>
      </svg>
      <span>Nested components</span>
    </a>
  </li>
  <li class="Nav-item">
    <a href="#custom-breakpoints" class="Nav-link">
      <svg class="Icon Icon--inline">
        <use xlink:href="{{ 'icons.svg' | revision }}#devices_other"></use>
      </svg>
      <span>Custom breakpoints</span>
    </a>
  </li>
</ul>