<section id="overview">
  <h2 class="Heading">Overview</h2>

  <p>This demo site is a working example of the <strong>Responsive Components</strong> strategy outlined in the article <a href="https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/">Responsive Components: a Solution to the Container Queries Problem</a>.</p>

  <div class="ButtonGroup">
    <a href="https://github.com/philipwalton/responsive-components" class="Button Button--action">View demo source</a>
    <a href="#" class="Button">Spread the word</a>
  </div>

  <div data-observe-resizes>
    <div class="InfoBox">
      <div class="InfoBox-figure">
        <svg class="Icon">
          <use xlink:href="{{ 'icons.svg' | revision }}#star"></use>
        </svg>
      </div>
      <div class="InfoBox-content">
        <h3 class="InfoBox-title">To see the demos in action</h3>
        <ul>
          <li>Choose a demo from the left nav.</li>
          <li>Drag to resize the "Pinned demo" sidebar on the right.</li>
          <li>Collapse/expand the the "Pinned demo" sidebar and/or left navigation.</li>
          <li>You can also "pin" any demo in the right sidebar to compare components side by side.</li>
        </ul>
      </div>
    </div>
  </div>

  <p>Once you get a feel for the demos, check out <a href="https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/">the article</a> for an in-depth explanation of the strategy and implementation.</p>

  <div data-observe-resizes>
    <div class="InfoBox">
      <div class="InfoBox-figure">
        <svg class="Icon">
          <use xlink:href="{{ 'icons.svg' | revision }}#star"></use>
        </svg>
      </div>
      <div class="InfoBox-content">
        <h3 class="InfoBox-title">About the breakpoints</h3>
        <ul>
          <li>Each component on this site defines a set of named breakpoints that coresponds to different container sizes (e.g. <strong>SM</strong>, <strong>MD</strong>, <strong>LG</strong>, etc.).</li>
          <li>When the container changes size, the component's breakpoint <strong>automatically updates!</strong></li>
          <li>To make is easier to visualize the active breakpoint, components display a badge with the breakpoint name in the top corner. Just like this one!</li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Next steps</h2>

  <p><strong>Love the idea?</strong><br>Awesome! Go build something with it, and help spread the word.</p>
  <p><strong>Want to go deeper?</strong><br>
Read about the <a href="https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/">implementation</a> and check out the <a href="https://github.com/philipwalton/responsive-components">source code</a>.</p>
  <p><strong>Have an idea to improve the strategy?</strong><br>
<a href="https://github.com/philipwalton/responsive-components/issues/new">Open an issue</a> on Github!</p>
  <p><strong>Disagree with everything I've ever said?</strong><br>Cool, write a blog post and tell the world why your idea is better!</p>
  </ul>
</section>